@import "tailwindcss";

@theme {
  --font-bodoni: var(--font-bodoni), serif;
  --font-franklin: var(--font-franklin), sans-serif;
}

body{
    background-color: #D7E0B7;
    overflow-x: hidden;
    margin: 0;
}

@keyframes scroll-dot {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}